body {
    height: 100vh;
    margin: 0;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 4rem; 
     cursor: none;

}

/* This is the image you will move with JS later */
.cursor-img {
    width: 40px;
    height: 40px;
    position: fixed;
    transform: translate(-50%,-50%);
  
    
} 


