*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    position: absolute;
}
html,body{
    width:100%;
    height:100%;
}
.grandparent{
    width:400px;
    height:400px;
    background-color: aquamarine;
}
.parent{
    width:300px;
    height:300px;
    background-color: blue;
}
 button{
    width:200px;
    height:200px;
    border: 4px solid grey;
    background-color: pink;
}
