* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
i {
    color: whitesmoke;
    font-size: 2.4rem;
}
.reels-container {
    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding: 3rem 0;
    gap:2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    
}

.reel {
    width: 90%;
    max-width: 650px;
    height: 80vh;
    background: #000;
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
    scroll-snap-align: center;
    margin: auto;
}

/* Reel media (image/video) */
.reel-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Right side buttons */
.actions {
    position: absolute;
    right: 1rem;
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.action-btn {
    background: rgba(0, 0, 0, 0.45);
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}

.action-btn img {
    width: 1.3rem;
    height: 1.3rem;
}

.action-btn span {
    font-size: 0.8rem;
    color: #fff;
    margin-top: 0.25rem;
}

/* Bottom info */
.info {
    position: absolute;
    bottom: 3rem;
    left: 1.6rem;
    right: 1rem;
    color: #fff;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 0.8rem;


}

.avatar {
    width: 4rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;

}

.username {
    font-size: 1.5rem;
    font-weight: 600;
}

.follow {
    padding: 0.4rem 1rem;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.caption {
    font-size: 1.2rem;
    line-height: 1.4rem;
    opacity: 0.95;
}

.ri-heart-fill{
    color: red;
}